/* HOMEPAGE STYLE HERE */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Great+Vibes&family=Pacifico&family=Quicksand&family=Qwitcher+Grypen&family=Sacramento&family=Satisfy&family=Sedgwick+Ave+Display&family=Special+Elite&family=Tulpen+One&display=swap');

#home-body {
    background-image: url('https://images.unsplash.com/photo-1510016858333-dd502bf57837?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size:cover;
}

.grid-container {
    display: grid;
    grid-template-rows: minmax(auto, auto);
    grid-template-columns: minmax(150px, auto);
    grid-template-areas: 
      'header header'
      'left right'
      'footer footer';
}
  
.grid-item {
    padding: 25px;
}
  
.header {
    grid-area: header;
    margin: 0%;
    padding: 0%;
    background-color: #fff;
}
  
.left {
    grid-area: left;
}
  
.middle {
    grid-area: middle;
}
  
.right {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer {
    grid-area: footer;
}

.navigation-flexbox-header-container {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 6em;
    font-family: 'Tulpen One', cursive;
    font-size: 30px;
}

.navigation-flexbox-header {
    text-decoration: none;
    color: #000;
    transition-duration: 0.3s;
}

.navigation-flexbox-header:hover {
    color: #f25278;
    border-style: none none solid none;
}

h1 {
    text-align: center;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 100px;
    color: #f25278;
    padding: 0%;
    margin: 0%;
    line-height: 100%;
}

h2 {
    text-align: center;
    color: #000;
    font-family: 'Tulpen One', cursive;
    font-size: 30px;
    font-weight: lighter;
    padding: 0%;
    margin: 0%;
}

span:not(.pink) {
    background-color: #f25278;
    color: #fff;
}

.flexbox-container-social-media {
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.social-media {
    color: #f25278;
    font-size: 30px;
    margin: 0 5px;
    transition: color 0.3s;
    text-decoration: none;
}
  
.social-media:hover {
    color: #fff;
}

.quote-kings {
    font-family: 'Tulpen One', cursive;
    font-size: 50px;
    color: #fff;
    text-align: justify;
    text-indent: 40px;
}

.author-quote-kings {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 40px;
    color: #f25278;
    text-align: right;
    padding: 0%;
    margin: 0%;
}

/* Image Slider style here */
  
  .image-slider-title {
    text-align: center;
    font-family: 'Tulpen One', cursive;
    font-size: 60px;
    color: #000;
    margin-bottom: 0%;
  }
  
  
  .image-slider-container {
    display: grid;
    width: 100%;
    min-height: calc(100vh - 4.25rem);
    place-content: center;
    gap: 1rem;
    text-align: center;
  }
  

  #slider {
    position: relative;
    width: 500px;
    height: 800px;
  }
  
  #slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
    border-style: ridge;
    border-color: #fff;
  }
  
  #slider img.active {
    opacity: 1;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #f25278;
    color: #fff;
    font-size: 32px;
    font-stretch: condensed;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  
  button:hover {
    background-color: #fff;
    color: #f25278;
  }
  
  button#prev {
    left: -35px;
    padding: 7px 17px 7px 15px;
  }
  
  button#next {
    right: -35px;
    padding: 7px 15px 7px 17px;
  }
  

/* CONTACT PAGE STYLE HERE */

#contact-body {
    background-image: url('https://images.unsplash.com/photo-1582655372998-fd11f2114b1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size:cover;
}

/* BLOG PAGE STYLE HERE */

.picture-of-me {
    float: left;
    max-width: 200px;
    padding: 10px;
    margin: 10px;
    border-style: none solid none solid;
    border-color: #f25278;
}

.picture-of-man {
    max-width: 40%;
    display: inline-block;
    padding: 0px 10px;
    margin: 10px;
    border-style: none solid none solid;
    border-color: #f25278;
}

.quote1, .quote2 {
    font-family: 'Tulpen One', cursive;
    font-size: 50px;
    color: #000;
    text-align: justify;
    text-indent: 40px;
}

.author-quote-1-2 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 40px;
    color: #f25278;
    text-align: right;
    padding: 0%;
    margin: 0%;
}

/* PROJECTS PAGE STYLE HERE */
#projects-body {
    background-image: url('https://images.unsplash.com/photo-1619783159677-60ebf3d8708d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80');
    background-size:cover;
}


/* ABOUT PAGE STYLE HERE */
#about-body {
    background-image: url('https://images.unsplash.com/photo-1509239767605-0703ef611f08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size:cover;
}

.about-me {
    text-align: justify;
    text-indent: 40px;
    font-size: 55px;
    font-family: 'Tulpen One', cursive;
    color: #fff;
}
      
.about-me::first-line {
    font-weight: bold;
}

.do {
    text-align: justify;
    text-indent: 40px;
    font-size: 55px;
    font-family: 'Tulpen One', cursive;
    color: #fff;
}

.pink {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 60px;
    color: #f25278;
    text-align: center;
    padding: 0%;
    margin: 0%;
}